#canvas {
  position: relative;
  background-color: black;
  background-image: url('../assets/teide.jpg');
  border: 5px solid black;
  border-radius: 1%;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.enemy {
  position: absolute;
  background-color: aqua;
  background-image: url('../assets/happy.jpg');
  border-radius: 5%;
  width: 100px;
  height: 100px;
}
