h1{
  font-size: 100px;
  margin: 0;
  user-select: none;
}

header{
  color: white;
  width: auto;
  height: auto;
  text-align: center;
}

html, body {
  background-image: radial-gradient(circle, #000000, #030302, #050505, #080807, #0a0a0a, #0b0b0d, #0b0d0f, #0a0e11, #040f12, #001110, #00110a, #041101);
  background-size: cover;
  font-family: 'DotGothic16', sans-serif;
  height: 100%;
  margin: 0;
}


.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#main-wrapper {
  width: 810px;
  height: 610px;
  position: relative;
  background-color: black;
  background-size: cover;
  border: 5px solid black;
  border-radius: 1%;
  margin: 0 auto;
}

#game-start,  #game-over {
  width: 800px;
  height: 600px;
  display: block;
  position: absolute;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 1%;
  text-align: center;
  cursor: url('../assets/img/punteroGrey.png'), auto;
}

#game-start {
  z-index: 3;
  background-image: url('../assets/img/mainMenu2.png');
}

#canvas {
  width: 800px;
  height: 600px;
  display: block;
  position: absolute;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 1%;
  text-align: center;
  cursor: url('../assets/img/punterogota.png'), auto;
  overflow: hidden;
  background-image: url('../assets/img/hospital.png');
  background-size: cover;
  z-index: 2;
}

#game-over {
  z-index: 1;
  background-image: url('../assets/img/startGame.gif');
  background-size: cover;
}

#game-over h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

#game-start h1, #game-over h1 {
  color: white;
  font-size: 100px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
}

#btn-game-start, #btn-play-again {
  width: 500px;
  height: 100px;
  cursor: url('../assets/img/punteroGrey.png'), auto;
  border-style: none;
  border-radius: 15px;
  color:white;
  font-family: 'DotGothic16', sans-serif;
  font-size: 45px;
  padding: 10px;
}

#btn-game-start {
  background-color: transparent;
  margin-top: 400px;
}

#btn-play-again {
  background-color: black;
  margin-top: 50px;

}

#btn-game-start:hover, #btn-play-again:hover {
  color: hsl(60, 100%, 50%, 1);
}

.hazard-symbol {
  color: red;
}


@-webkit-keyframes enemy /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.enemy {
  position: absolute;
  background-image: url('../assets/img/enemy.gif');
  background-position: center;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 115px;
  height: 115px;
  animation: enemy 12s linear infinite;
}

#lives {
  width: 390px;
  height: 36px;
  padding: 5px;
  position: absolute;
}

.heart {
  position: absolute;
  background-image: url('../assets/img/Live.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size:cover;
}

#points {

  position: absolute;
  width: 390px;
  height: 40px;
  left: 500px;
  padding: 6px;
  user-select: none;
}

#score-container {
  width: 390px;
  height: 36px;
  position: absolute;
  left: 400px;
  padding: 5px;

  /* Text Style */
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: right;
  user-select: none;
}

#score-container > #score {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;

}
